<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <script src="../js/login.js" defer></script>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="container">
        <h1>Iniciar Sesión</h1>
        <form id="loginForm">
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Contraseña:</label>
            <div class="password-container">
                <input type="password" id="password" name="password" required>
                <!-- Contenedor del ícono del ojo -->
                <div class="eye-icon-container">
                    <span id="togglePassword" class="eye-icon">👁️</span>
                </div>
            </div>
            <button type="submit">Ingresar</button>
        </form>

        <!-- Mensaje de error -->
        <div id="errorMessage" class="error" style="display: none;"></div>
    </div>
</body>
</html>
